.contact {
  width: 100%;
  padding: 100px 0;
}

.contact-title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  text-align: center;
}
.contact-line {
  max-width: 64px;
  height: 2px;
  border: 1px solid #ec7979;
  background-color: #ec7979;
  margin: 34px auto;
}

.contact-subtitle h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  text-align: center;
}

.contact-message {
  margin: 57px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-message a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 11px 31px;
  text-align: center;
  border: 1px solid #ffffff;
  background-color: #ec7979;
}
