.contact {
  width: 100%;
  padding: 6.25rem 0;
}

.contact-title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #212121;
  text-align: center;
}
.contact-line {
  max-width: 4rem;
  height: 2px;
  border: 1px solid #ec7979;
  background-color: #ec7979;
  margin: 2.125rem auto;
}

.contact-subtitle h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #86878b;
  text-align: center;
}

.contact-form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5.625rem 0.9375rem 4.25rem;
}

.content-data {
  flex-basis: 29.875rem;
  margin: 0 0.9375rem;
}

.content-message {
  flex-basis: 29.875rem;
  margin: 0 0.9375rem;
}

.content-data-item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #bdbdbd;
}

.content-message-item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  align-items: left;
  color: #bdbdbd;
}

.contact-form-button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 3.375rem;
  text-align: center;
  color: #ffffff;
  background-color: #ec7979;
  border: none;
  display: block;
  margin: 0 auto 0;
  padding: 0rem 1.9375rem;
}

.content-data-item label {
  display: block;
  margin-bottom: 1.25rem;
}

.content-data-item input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  display: block;
  width: 100%;
}

textarea {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  display: block;
  width: 100%;
  resize: none;
  height: 13.5rem;
  overflow: scroll;
}
