.header {
  width: 100%;
  padding: 1.5625rem 0;
  background-color: #000000;
  background-size: cover;
}

.menu-list::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 2rem;
  background-image: url("../image/axit-logo.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  top: 0rem;
  left: 0rem;
}

.menu-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.menu-list-item {
  list-style: none;
  margin-left: 3rem;
}

.menu-list-item:first-child {
  margin-left: 0rem;
}

.menu-list-item a {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.menu-list-item a::after {
  display: block;
  content: "";
  transition: all 0.4s;
  transition-timing-function: lease;
  width: 0%;
  position: absolute;
}

.menu-list-item a:hover:after {
  width: 100%;
  margin-top: 2px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
}
