@import url("awesome.css");
@import url("pricing.css");
@import url("customers.css");
@import url("axure.css");
@import url("header.css");
@import url("axit.css");
@import url("social-media.css");
@import url("footer.css");
@import url("contact.css");
@import url("tabs.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 0.9375rem;
  max-width: 1170px;
  margin: auto;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1107px) {
  .pricing-row {
    margin-top: 0;
  }
  .pricing-row-list {
    margin-bottom: 0;
    margin-top: 3rem;
  }
  .awesome-row {
    margin-top: 0;
  }

  .awesome-row-item {
    margin-top: 3rem;
  }
  .contact-form-content {
    display: flex;
    justify-content: center;
  }
  .tabs-row {
    display: flex;
    justify-content: center;
  }

  .tabs-png {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 958px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 818px;
  }

  .axit-row {
    display: flex;
    justify-content: center;
  }

  .social-media-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-media-icon {
    margin-top: 2rem;
  }

  .customers-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: 0;
  }
  .customers-row-item {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 647px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 517px;
  }
}

@media screen and (max-width: 559px) {
  .tabs-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .tabs-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .tabs-text {
    margin-top: 3rem;
  }

  .tabs-png {
    margin: 4rem 4rem 0;
  }
}
@media screen and (max-width: 476px) {
  html {
    font-size: 11px;
  }
  .menu-list li {
    display: none;
  }
  .menu-list::before {
    top: -0.7rem;
    left: 0;
  }
}
@media screen and (max-width: 393px) {
  .container {
    max-width: 320px;
  }
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 337px) {
  .container {
    max-width: 270px;
  }
  html {
    overflow-x: hidden;
    font-size: 8px;
  }
  .size1 {
    font-size: 1.5rem;
  }
  .tabs {
    padding-bottom: 0;
  }

  .footer-sm-icon {
    margin-bottom: 2rem;
  }

  .footer-copyright p {
    margin-top: 0;
  }
}
@media screen and (max-width: 277) {
  html {
    font-size: 6px;
  }

  .size1 {
    font-size: 1.125rem;
  }
}
