@import url("awesome.css");
@import url("pricing.css");
@import url("customers.css");
@import url("axure.css");
@import url("header.css");
@import url("axit.css");
@import url("social-media.css");
@import url("footer.css");
@import url("contact.css");
@import url("tabs.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  max-width: 1170px;
  margin: auto;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1107px) {
  .pricing-row {
    margin-top: 0;
  }
  .pricing-row-list {
    margin-bottom: 0;
    margin-top: 48px;
  }
  .awesome-row {
    margin-top: 0;
  }

  .awesome-row-item {
    margin: 48px 25px;
  }

  .tabs-row {
    display: flex;
    justify-content: center;
  }

  .tabs-png {
    margin-top: 48px;
  }
}

@media screen and (max-width: 958px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 818px;
  }

  .axit-row {
    display: flex;
    justify-content: center;
  }

  .social-media-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .social-media-subtitle {
    margin-right: 25px;
  }
  .social-media-icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-media-icon {
    margin: 32px 12px 0;
  }

  .customers-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: 0;
  }
  .customers-row-item {
    margin-top: 48px;
  }

  .tabs-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .tabs-list-item {
    width: 20%;
    margin-bottom: 0;
  }
  .tabs-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }

  .tabs-text {
    margin-top: 48px;
  }

  .tabs-png {
    margin: 64px 64px 0;
  }
  .tabs-download {
    margin-top: 45px;
  }
  .paragraph1 p {
    margin-top: 45px;
  }
}
@media screen and (max-width: 789px) {
  .awesome-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .awesome-row-item {
    margin-bottom: 0;
  }
  .awesome-row-item-title h3 {
    margin-top: 30px;
  }
  .awesome-row-item-discription p {
    margin-top: 30px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 12px;
  }
  .header {
    padding: 15px 0;
  }
  .menu-list-item {
    list-style: none;
    margin-left: 0;
  }
  .menu-list::before {
    display: none;
  }

  .menu_btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 15px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu_btn > span::before {
    content: "";
    top: -8px;
  }
  .menu_btn > span::after {
    content: "";
    top: 8px;
  }

  .menu {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 15px;
    width: 90px;
    height: 20%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
  }

  .menu-list {
    display: block;
    padding: 32px 20px 15px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  #menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
  }
  #menu_toggle:checked ~ .menu_btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu_toggle:checked ~ .menu_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .menu {
    visibility: visible;
    right: 0;
  }
}

@media screen and (max-width: 476px) {
  html {
    font-size: 11px;
  }

  .contact-form-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tabs-list-item {
    padding: 30px 0;
  }
  .awesome {
    padding-top: 0;
  }
  .footer-sm-icon {
    margin: 0 15px;
  }

  .axit-form-button {
    margin-top: 0px;
  }
  .form-content {
    padding: 0 45px;
  }
  .form-content-items label {
    display: block;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 393px) {
  html {
    font-size: 9px;
  }
  .awesome-row-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
  }
  .awesome-row-item-discription p {
    max-width: 250px;
  }
  .tabs-list-item {
    padding: 25px 0;
  }
  .tabs {
    padding: 30px 0;
  }
  .tabs-text {
    margin-top: 0;
  }
  .paragraph1 p {
    margin-top: 15px;
  }
  .paragraph2 p {
    margin-top: 10px;
  }
  .footer-sm-icon-list {
    flex-wrap: wrap;
  }
  .footer-sm-icon {
    margin: 0 12px;
  }
  .axit-form-button {
    line-height: 44px;
  }
}
@media screen and (max-width: 337px) {
  html {
    overflow-x: hidden;
    font-size: 8px;
  }
  .axit {
    padding: 50px 0;
  }
  .size1 {
    font-size: 1.5rem;
  }
  .tabs {
    padding-bottom: 0;
  }

  .footer-copyright p {
    margin-top: 0;
  }
  .footer-sm-icon {
    margin: 0 10px 15px;
  }

  .footer-sm-icon:first-child {
    margin-left: 0;
  }
  .footer-sm-icon:last-child {
    margin-right: 0;
  }

  .tabs-list-item {
    padding: 20px 0;
  }

  .social-media-icons {
    flex-basis: 300px;
  }
  .social-media-icon {
    margin: 0;
  }
  .social-media-icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
  }
  .form-content {
    padding: 0 35px;
  }
  .form-content-items label {
    display: block;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 277) {
  html {
    font-size: 6px;
  }

  .size1 {
    font-size: 1.125rem;
  }
  .tabs-list-item {
    padding: 0;
  }
  .footer-sm-icon {
    margin: 0 10px 15px;
  }
  .axit-form-button {
    line-height: 34px;
  }
}
